<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<restaurant>

    <nameCategory name="Snacks">
        <snacks>
            <name>Herring with potatoes</name>
            <price>140</price>
        </snacks>
        <snacks>
            <name>Potatoes</name>
            <price>190</price>
        </snacks>
    </nameCategory>
    <nameCategory name="Salads"/>
    <nameCategory name="Desserts"/>
    <nameCategory name="Drinks"/>
<nameCategory name="Sushi"/>
</restaurant>
